{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "8.10"
        }
      }
    ]
  ],

  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties"
  ]
}